body {
  font-family: 'Poppins', sans-serif;
}

/* Um exemplo de override global: customizar a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c5c5c5;
}